<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSPLogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Tb_userinfo</display-name>
    <servlet-name>Tb_userinfo</servlet-name>
    <servlet-class>login.Tb_userinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tb_userinfo</servlet-name>
    <url-pattern>/Tb_userinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tb_userinfo1</display-name>
    <servlet-name>Tb_userinfo1</servlet-name>
    <servlet-class>login.Tb_userinfo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tb_userinfo1</servlet-name>
    <url-pattern>/Tb_userinfo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regist</display-name>
    <servlet-name>Regist</servlet-name>
    <servlet-class>dao.Regist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/Regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>login.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfo</display-name>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>login.UpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/UpdateInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexToInfo</display-name>
    <servlet-name>IndexToInfo</servlet-name>
    <servlet-class>servlet.tool.IndexToInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexToInfo</servlet-name>
    <url-pattern>/IndexToInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadAction</display-name>
    <servlet-name>FileUploadAction</servlet-name>
    <servlet-class>dao.FileUploadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadAction</servlet-name>
    <url-pattern>/FileUploadAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>dao.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upup</display-name>
    <servlet-name>Upup</servlet-name>
    <servlet-class>dao.Upup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upup</servlet-name>
    <url-pattern>/Upup</url-pattern>
  </servlet-mapping>
 
</web-app>